<div class='desktop-wrapper'>
  <%= render 'shared/desktop' %>
</div>
<div class='mobile-wrapper'>
  <div class='mobile-container'>
<%= simple_form_for @kit do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
     <%= f.input :name,
        required: false,
        autofocus: true,
         label: 'NAME', label_html: { class: 'text form-label' },
        input_html: {class: 'text form-field', autocomplete: "name" }%>
         <%= f.input :description,
        required: false,
        autofocus: true,
        label: 'DESCRIPTION', label_html: { class: 'text form-label' },
        input_html: {class: 'text form-field', autocomplete: "description" }%>

         <%= f.input :photo,

        required: false,
        autofocus: true,
        label: 'PHOTO', label_html: { class: 'text form-label' },
        input_html: {class: 'text form-field', autocomplete: "photo" }%>

  </div>

  <div class="form-actions">
    <%= f.button :submit , class:'landing-button btn-main text' %>
  </div>
  <br>
  <div class="form-links">

    <%= link_to 'Back', user_path(current_user.id), class: 'text form-link' %>
</div>


<% end %>




    </div>
  </div>

