<div class='desktop-wrapper'>
  <%= render 'shared/desktop' %>
</div>
<div class='mobile-wrapper'>
  <% if @status %>
    <div class='mobile-container'>
      <div class='spacer'></div>
      <div class='text title white center'>RANKS TABLE</div>
      <div class='spacer'></div>
      <div class='ranks-table-wrapper'>
        <% @ranks.each do |user| %>
          <div class='ranks-table' id='<%= user.user.id %>'>
            <div class='ranks-avatar avatar-small-border'>
              <img src='<%= user.user.photo %>' class='avatar-small'>
            </div>
            <div class='ranks-nickname text t7 white'><%= user.user.nickname %></div>
            <div class='ranks-status text t7 white'><%= 'megastar' %></div>
            <div class='ranks-points text t6 white'><%= number_with_delimiter(user.user.points, :delimiter => ',') %></div>
            <div class='ranks-trophy'>
              <img src='https://res.cloudinary.com/diciu4xpu/image/upload/v1551267840/chaserz/trophy-basic.png' class='ranks-trophy'>
            </div>
          </div>
          <% if (@ranks.size > 1) %>
            <div class='ranks-divider'></div>
          <% end %>
        <% end %>
      </div>
      <div class='buttons-wrapper'>
        <div class='button btn-secondary text grid-button to-menu'>go back</div>
      </div>
    </div>
  <% else %>
    <div class='mobile-container'>
      <div class='text t1 white center mt20'>Your competitors have not yet finished...</div>
      <div class='text t1 white center mt20'>Please, wait.</div>
      <div class='text t2 accent center my40'>The page will reload automatically.</div>
    </div>
  <% end %>
</div>
