<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <title>Chaserz | Scooter race web game!</title>
    <meta name="description" content="Scooter race web application">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="Chaserz | Scooter race web game!" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="https://res.cloudinary.com/diciu4xpu/image/upload/v1551861325/chaserz/chaserz-banner.png" />
    <meta property="og:description" content="Scooter race web application" />
    <meta property="og:site_name" content="Chazers Gonna Chase" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Jura:300,400,500,700' %>
    <%= stylesheet_link_tag 'https://use.fontawesome.com/releases/v5.7.2/css/all.css' %>
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" sizes="36x36" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-36.png">
    <link rel="apple-touch-icon" sizes="48x48" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-48.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-72.png">
    <link rel="apple-touch-icon" sizes="96x96" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-96.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-144-precomposed.png">
    <link rel="apple-touch-icon" sizes="192x192" href="https://res.cloudinary.com/diciu4xpu/image/upload/v1551787859/chaserz/icons/favicon-192.png">
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%# map requirements %>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
